body {
  min-width: 360px;
}

$header-height: 80px;
$header-height-sm: 54px;
$topbar-height: 40px;
$navbar-height: 60px;
$navbar-thumbnail-height: 160px;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $black;
  box-shadow: inset 0 0 20px 20px $input-bg !important;
}

@mixin d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
}

.fs-md {
  font-size: $font-size-md;
}

.flex-none {
  flex: none !important;
  flex-grow: inherit !important;
}