---
import "../common/themes/scss/main-scss/main.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:description"
      content="Teleflora makes it easy to order flowers online and get same day flower delivery right to your loved one's door, no matter what the occasion is."
    />
    <meta property="og:url" content="https://teleflora.com/" />
    <meta property="og:site_name" content="Teleflora" />
    <meta
      name="description"
      content="Teleflora makes it easy to order flowers online and get same day flower delivery right to your loved one's door, no matter what the occasion is."
    />
    <meta
      name="description"
      content="Teleflora makes it easy to order flowers online and get same day flower delivery right to your loved one’s door, no matter what the occasion is. "
    />
    <meta name="robots" content="noindex, nofollow" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-8KXNV91K8L"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-8KXNV91K8L");
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
