---
import "../common/themes/scss/main-scss/main.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Teleflora | Order Flower Delivery Online | Flowers Near Me</title>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Teleflora" />
    <meta
      property="og:description"
      content="Teleflora makes it easy to order flowers online and get same day flower delivery right to your loved one's door, no matter what the occasion is."
    />
    <meta property="og:url" content="https://teleflora.com/" />
    <meta property="og:site_name" content="Teleflora" />
    <meta
      name="description"
      content="Teleflora makes it easy to order flowers online and get same day flower delivery right to your loved one's door, no matter what the occasion is."
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#E7F3E3" />
    <meta name="application-name" content="Teleflora" />
    <meta name="apple-mobile-web-app-title" content="Teleflora" />
     <!-- Google tag (gtag.js) -->
    <script async type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-8KXNV91K8L"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8KXNV91K8L');
    </script>
    <noscript>
      <link rel="stylesheet" href="/themes/scss/main-scss/main.css" />
    </noscript>
    <link
      rel="icon"
      sizes="144x144"
      href="/images/favicon/mstile-144x144.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      media="all"
      href="/images/favicon/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/favicon/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/favicon/apple-touch-icon-152x152.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon.ico"
    />
    <script>
      document.documentElement.lang = "en";
      document.documentElement.dir = "ltr";
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
